:root {
    --blue: #0d4d95;
    --brown: #8e1b20;
    --white: #fff;
    --black: #000;
    --grey: #ececec;
    --red: #bc1f27;
}


body {
    margin: 0;
}

h1, h2, h3, h4, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    margin: 5px 0 0;
    font-size: .7rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

/* <top-contact> */
.top-contact {
    display: flex;
    margin: 5px 0;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}

.top-contact > a {
    color: var(--black);
    text-decoration: none;
}

/* </top-contact> */

/* <navbar> */


#navbar {
    display: flex;
    justify-content: space-between;
    z-index: 999;
    font-size: 1.6rem;
    background-color: var(--blue);
}

.logo {
    margin: 0 0 0 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 50px;
}

#nav-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;

}


#nav-links a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: var(--white);
}

#nav-links > a:link, #nav-links > a:visited, #nav-links > a:active {
    color: var(--white);
}

#nav-links a:hover {
    color: gray;
}

#nav-links .horizontal-line {
    display: none;
}

#mobile-menu-trigger-box {
    margin: 10px;
}

#mobile-menu-trigger {
    width: 100px;
    height: 38px;
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--grey);
    border-radius: 20px;
    cursor: pointer;
    display: none;
}

/* </navbar> */

/* <first-section> */

/*====== Background slider ======*/
.first-section {
    min-height: 730px;
    position: relative;
}

.media-icons {
    z-index: 999;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin-left: 90px;
    right: 0;
    margin-right: 10px;
}

.media-icons > a {
    color: var(--blue);
    font-size: 1.7em;
    margin: 10px 0;
    transition: .2s;
}

.media-icons > a:hover {
    color: var(--black);
}

.main-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 730px;
}

.main-slider .swiper-slide {
    position: relative;
    width: 100%;
    height: 730px;
}

.swiper-slide .img-container {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 800px;
    height: 600px;
    transform: translateX(50px);
    opacity: 0;
    border: 4px solid var(--blue);
}

.swiper-slide-active .img-container {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.swiper-slide .text-content {
    padding: 10px;
    position: absolute;
    top: 25px;
    color: var(--black);
    margin: 0 50px;
    width: 50%;
    background-color: var(--white);
    border-bottom: 4px solid var(--blue);
    border-right: 4px solid var(--blue);
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.text-content > div {
    width: 40%;
    float: left;
}

.text-content > p {
    font-size: 1.7rem;
    clear: both;
}

.swiper-slide .contact-btn {
    background-color: var(--blue);
    color: var(--white);
    border: 0;
    margin: 10px 0;
    padding: .5em 1em;
}




/* </first-section> */

/* <introduce> */

.introduce > header {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.introduce > header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduce > header > div > h1 {
    color: var(--blue);
}

.introduce > header > div > h2 {
    color: var(--red);
}

.grid-item {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.grid-item > img {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    transition: .2s;
}

.grid-item-1:hover > img {
    transform: scale(1.1);
}

.grid-item-2:hover > img {
    transform: scale(1.1);
}

.grid-item-3:hover > img {
    transform: scale(1.1);
}

.grid-item-4:hover > img {
    transform: scale(1.1);
}

.grid-item > h1 {
    position: absolute;
    bottom: 0;
    color: var(--white);
    padding: 10px;
}


.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 600px;
}

.blue-layer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 60, 255, 0.4);
}

.white-layer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.4);
}

.red-layer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 0, 0, 0.4);
}

.dark-layer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

/* </introduce> */

/* <our-offer> */

.our-offer {
    background-color: var(--grey);
    display: flex;
    padding: 50px 0 50px 50px;
}

.our-offer > header {
    width: 40vw;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.our-offer > header > hr {
    text-align: left;
}

.our-offer > header > p {
    line-height: 1.5;
    clear: both;
    font-size: 1.2rem;
}

.our-offer-content {
    width: 60vw;
}

#our-offer-button {
    font-family: 'Questrial', sans-serif;
    background-color: var(--black);
    border: 0;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    padding: .8em 1.8em;
    margin-top: 20px;
    font-size: 1rem;
    transition: .2s;
}

#our-offer-button:hover {
    transform: scale(0.9);
}

.slider-nav {
    display: flex;
}

.slider-nav > button {
    background-color: rgba(0,0,0,0);
    border: 0;
    cursor: pointer;
}

.disabled {
    color: var(--grey);
}

.slider-nav > p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
}


.slider-container {
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 1450px;

}

.slider-item {
    background-color: white;
    width: 230px;
    height: 28em;
    text-align: center;
    padding: 30px 20px;
    border-left: 15px solid var(--grey);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.slide-img {
    position: relative;
    width: 230px;
    height: 180px;
    overflow: hidden;
}

.slide-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.slider-item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 60%;
}

.slider-item-text > div > h4 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.slider-item-text > div > p {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 25px 0;
}

.our-offer-slide-button {
    font-family: 'Questrial', sans-serif;
    font-weight: bold;
    background-color: var(--white);
    border: 2px solid var(--black);
    color: var(--black);
    cursor: pointer;
    padding: .8em 2.5em;
    transition: .2s;
}

.our-offer-slide-button:hover {
    transform: scale(0.9);
}

/* </our-offer> */

/* <parallax> */

.parallax {
    background-image: url("assets/img/pexels-pixabay-326807.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* </parallax> */

/* <footer> */

footer {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue);
}

.footer-map-column {
    width: 33vw;
    background-color: greenyellow;
}

.footer-contact-column {
    width: 33vw;
}

.footer-contact-form-column {
    width: 33vw;
}

.footer-contact-form-column > h2 {
    color: var(--white);
    text-align: center;
    margin: 40px 0 0 0;
}

.footer-contact-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-contact-icons {
    display: flex;
}

.footer-contact-icons > a {
    color: var(--white);
    transition: .2s;
}

.footer-contact-icons > a:hover {
    color: var(--black);
}

.footer-contact-icons > a:not(:last-child) {
    margin-right: 20px;

}

.footer-contact-icons > a > svg {
    width: 30px;
    height: 30px;
}

form {
    display: block;
}


.label-div {
    position: relative;
}

label > input {
    border: 2px solid var(--white);
    border-radius: 15px;
}


input, textarea {
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    outline: none;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

input {
    width: calc(100% - 8px);
}

textarea {
    width: 100%;
    border: 2px solid var(--white);
    border-radius: 10px;
}

input::placeholder, textarea::placeholder {
    opacity: 0;
}

.contact-form span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(30px);
    font-size: 1.2rem;
    transition-duration: 300ms;
    font-weight: bold;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--blue);
    margin-left: 10px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span,
textarea:not(:placeholder-shown) + span {
    transform: translateY(5px);
}

label:focus-within > span {
    color: var(--white);
}

label:focus-within > input {
    border: 2px solid var(--brown);
}

textarea:focus-within {
    border: 2px solid var(--brown);
}

#message {
    width: calc(100% - 8px);
    height: 40vh;
}

.check-box > input {
    width: initial;
}

.check-box > label {
    color: var(--white);
}

#submit-button {
    color: var(--black);
    background-color: var(--white);
    font-weight: bold;
    width: 10em;
    height: 2.5em;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
    border-radius: 15px;
}

#submit-button:hover {
    transform: scale(0.9);
    color: var(--white);
    background-color: var(--black);
}

/* </footer> */

@media screen and (max-width: 900px) {


    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: .8rem;
    }


    section {
        max-width: 900px;
    }


    /* <navbar> */
    #navbar {
        display: block;
        padding: 10px;
        font-size: 1rem;
    }

    #nav-links {
        display: none;
        justify-content: center;
    }

    #nav-links ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #nav-links a {
        text-align: center;
        color: white;
    }

    #nav-links a:hover {;
        color: grey;
    }

    #nav-links li:not(:last-child) {
        border-bottom: 1px solid var(--white);
    }

    #mobile-menu-trigger {
        display: block;
    }

    /* </navbar> */
    /* <first-section> */
    .swiper-slide .img-container {
        right: 20px;
        margin: 0 20px;
        bottom: 30px;
        width: 300px;
        height: 250px;
    }

    .swiper-slide .text-content {
        top: 10%;
        width: calc(100% - 90px);
        margin: 0 70px 0 20px;
    }

    .text-content > div {
        width: 100px;
    }

    .text-content > p {
        font-size: 1rem;
    }


    /* </first-section> */
    /* <introduce> */
    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px;
        grid-auto-rows: 300px;
    }

    /* </introduce> */
    /* <our-offer> */
    .our-offer {
        flex-direction: column;
        align-items: center;
        padding: 25px 0 25px 25px;
    }

    .our-offer > header {
        width: calc(100% - 25px);
        padding-right: 25px;
    }

    .our-offer > header > p {
        font-size: 1rem;
    }

    .our-offer-content {
        margin-top: 40px;
        width: 100%;
    }

    /* </our-offer> */
    /* <footer> */
    footer {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .footer-map-column {
        width: 100%;
        height: 450px;
    }

    .footer-contact-column {
        width: 100%;
        height: 450px;
    }

    .footer-contact-form-column {
        width: 80%;
    }


    /* </footer> */

}